* {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  text-align: center;
}
body {
  background-color:rgb(169, 203, 233);
}
#armada-btn {
  margin-left: 10px;
}
#game-dialog {
  margin-top: 20px;
  width: fit-content;
}
#game-display-box {
  display: flex;
  height: auto;
  width: 1020px;
}
#game-over-box {
  left: 40px;
  position: absolute;
  top: 40px;
}
#hal-gif {
  display: grid;
  grid-column-start: 4;
  grid-row-start: 1;
  height: 20px;
  width: 20px;
}
#message-box {
  display: flex;
  width: 100%;
}
#name-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  width: 400px;
}
#player2-name {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
}
#position-form {
  background-color:rgba(248, 248, 168, 0.561);
  border: solid;
  border-color: olive;
  margin-left: -100px;
  margin-top: -120px;
  padding: 20px;
  width: 250px;
}
#row-number-box-1 {
  grid-column-start: 1;
}
#row-number-box-2 {
  grid-column-start: 11;
}
#ship-messages {
  margin-bottom: 20px;
}
#submit-btn {
  display: grid;
  grid-row-start: 13;
  grid-column-start: 2;
}
#title {
  margin-top: 20px;
}

.active-board {
  outline-style: solid;
  outline-color: limegreen;
  outline-width: 4px;
}
.board-box {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(13, 1fr);
  height: 500px;
  margin-top: 20px;
  width: 440px;
} 
.col-number-box {
  border: none;
  background-color: transparent;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns:  repeat(10, 1fr);
  grid-template-rows: 1fr;
  height: 40px;
  line-height: 40px;
  width: 400px;
}
.gameboard {
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  width: 400px;
}
.gameboard-box {
  background-color: transparent;
  grid-column-start: 2;
  grid-row-start: 2;
  height: 400px;
  width: 400px;
}

.hidden {
  display: none !important;
}
.number-space {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
}
.player-name {
  display: grid;
  font-size:larger;
  grid-column-start: 2;
  margin-top: 10px;
}
.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 40px;
  width: 400px;
}
.row-number-box { 
  border: none;
  background-color: transparent;
  display: grid;
  grid-row-start: 2;
  grid-template-columns:  1fr;
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  line-height: 40px;
  width: 40px;
}
.ship-info-span {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* SPACE FORMATTING */
.space {
  border: none;
  height:38px;
  width: 38px;
}
.active-space {
  outline: solid !important;
  outline-color: yellow !important;
  outline-width: 2px !important;
}
.open {
  background-color: rgb(6, 66, 177);
}
.miss {
  background-color: gray !important;
}
.hit {
  background-color: red;
}
.sunk {
  background-color:darkred;
}

.Destroyer {
  background-color: violet;
}
.Submarine {
  background-color:mediumseagreen;
}
.Cruiser {
  background-color:mediumslateblue;
}
.Battleship {
  background-color:lightsalmon;
}
.Carrier {
  background-color:darkcyan;
}