* {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  text-align: center;
}
body {
  background-color:rgb(169, 203, 233);
}

#game-dialog {
  margin-top: 20px;
}
#game-display-box {
  display: flex;
  height: auto;
  width: 920px;
}
#submit-btn {
  display: grid;
  grid-row-start: 12;
  grid-column-start: 2;
}
#title {
  margin-top: 20px;
}
.active {
  outline-style: solid;
  outline-color: limegreen;
  outline-width: 4px;
}
.active-space {
  outline: solid !important;
  outline-color: yellow !important;
  outline-width: 2px !important;
}
.board-box {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 480px;
  margin-top: 20px;
  width: 440px;
} 
.col-number-box {
  border: none;
  background-color: transparent;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns:  repeat(10, 1fr);
  grid-template-rows: 1fr;
  height: 40px;
  line-height: 40px;
  width: 400px;
}
#row-number-box-1 {
  grid-column-start: 1;
}
#row-number-box-2 {
  grid-column-start: 11;
}
.row-number-box { 
  border: none;
  background-color: transparent;
  display: grid;
  grid-row-start: 2;
  grid-template-columns:  1fr;
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  line-height: 40px;
  width: 40px;
}
.number-space {
  border: none;
  background: transparent;
  display: grid;
  height: 10px;
  width: 10px;
}
.gameboard {
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  width: 400px;
}
.gameboard-box {
  background-color: transparent;
  grid-column-start: 2;
  grid-row-start: 2;
  height: 400px;
  width: 400px;
}
.hidden {
  display: none;
}
.space {
  /* border: solid;
  border-color: transparent; */
  border: none;
  height:38px;
  width: 38px;
}
.number-space {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
}
.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 40px;
  width: 400px;
}
.open {
  background-color: rgb(6, 66, 177);
}
.miss {
  background-color: gray;
}
.hit {
  background-color: red;
}
/* .active {
  background-color: yellowgreen !important;
} */
.Destroyer {
  background-color: violet;
}
.Submarine {
  background-color:mediumseagreen;
}
.Cruiser {
  background-color:mediumslateblue;
}
.Battleship {
  background-color:lightsalmon;
}
.Carrier {
  background-color:darkcyan;
}